{% extends 'base.html.twig' %}

{% block title %}Edit Hostel{% endblock %}

{% block body %}
    <h1>Edit Hostel</h1>

    {{ include('hostel_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_hostel_crud_index') }}">back to list</a>

    {{ include('hostel_crud/_delete_form.html.twig') }}
{% endblock %}
