{% extends 'base.html.twig' %}

{% block title %}New Hostel{% endblock %}

{% block body %}
    <h1>Create new Hostel</h1>

    {{ include('hostel_crud/_form.html.twig') }}

    <a href="{{ path('app_hostel_crud_index') }}">back to list</a>
{% endblock %}
