$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;

$background-color: #607c91;
$background-image: '../assets/images/output_202375659_0\(2\).jpg';
$color-primary: #607c91;

// $base-font-family: '../assets/font_styles/Cinzel-Regular.otf';