$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;

$background-color: #607c91;
$background-image: '../assets/images/image_de_background.png';
$color-primary: #607c91;

$base-font-family: 'Cinzel', serif;

$base-font-color: #D4AF37;
$title-font-color: #FF6F61