// _main.scss

main {
    position:relative;
    top: 0;          /* Align it to the top of the viewport */
    left: 0;         /* Align it to the left side of the viewport */
    width: 100%;     /* Make it take the full width of the viewport */
    height: 10vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 150vh; 
  
    @include desktop() {
      height: calc(150vh);
    }
  
    @include medium() {
      height: calc(150vh);
    }
  
    @include tablet() {
      height: calc(150vh);
    }
  
    @include mobile() {
      height: calc(150vh);
    }
  }
  